<div class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fa-solid fa-user-shield fa-lg me-1"></i>
  </a>
  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="adminDropdown">
    <li>
      <a class="dropdown-item" href="/users/profile">
        <i class="fa-solid fa-user me-2"></i> Profile
      </a>
    </li>
    <li>
      <a class="dropdown-item" href="/admin/dashboard">
        <i class="fa-solid fa-chart-line me-2"></i> Admin Dashboard
      </a>
    </li>
    <li>
      <a class="dropdown-item" href="/admin/users">
        <i class="fa-solid fa-users me-2"></i> Manage Users
      </a>
    </li>
    <li>
      <a class="dropdown-item" href="/admin/jobs">
        <i class="fa-solid fa-briefcase me-2"></i> Manage Jobs
      </a>
    </li>
    <li>
      <a class="dropdown-item" href="/admin/resumes">
        <i class="fa-solid fa-file-lines me-2"></i> Manage Resumes
      </a>
    </li>

    <li><hr class="dropdown-divider"></li>

    <li>
      <a class="dropdown-item text-danger" href="/users/logout">
        <i class="fa-solid fa-right-from-bracket me-2"></i> Logout
      </a>
    </li>
  </ul>
</div>
